@{
    ViewData["Title"] = "POLÍTICA DE PRIVACIDADE";
}

<div class="align-content-around">
    <div class="d-flex justify-content-center align-items-center my-3">
        <div class="text-center col-lg-6">
            <h1>POLÍTICA DE PRIVACIDADE</h1>
            <p>Colore é uma organização que visa disseminar a diversidade dentro das empresas, permitindo o pioneirismo das mesmas no desenvolvimento social, incluindo pessoas LGBTQIA +.</p>
            <p>Levamos a sério a proteção e segurança dos dados pessoais de todos os candidatos que utilizam a nossa plataforma para busca, candidatura e monitoramento de vagas abertas por empresas anunciantes. Por isso, a coleta e o processamento de informações e dados pessoais é realizado apenas dentro do contexto e para recrutamento e seleção de candidatos, bem como para gestão de colaboradores de empresas que utilizam nossa plataforma e serviços. Quase tudo o que fazemos tem como finalidade aproximar candidatos e empresas que buscam os profissionais com o perfil certo para trabalharem juntos.
            Assim, esta Política de Privacidade, em conjunto aos Termos de Uso, descreve o compromisso da Colore em como utilizará e tratará os dados pessoais dos candidatos, seja através do site https://colore2.azurewebsites.net/, aplicativos para mobile ou no compartilhamento das informações pessoais com outros agentes de tratamento.
            Se após ler nossa política você não entender ou concordar com algum ponto, pedimos que entre em contato conosco antes de continuar com o seu cadastro.</p>
        </div>
        <div class="col-lg-5 d-none d-lg-block">
            <img src="https://bootstrapious.com/i/snippets/sn-about/illus.png" alt="" class="img-fluid">
        </div>
    </div>

    <div class="d-block d-lg-flex justify-content-lg-around align-items-center">
        <div class="col-lg-5 px-5 text-center">
            <img style="width:300px" src="~/images/sobre/Team goals-amico.svg" />
            </div>
        <div class="col-lg-6">
            <h2 class="text-center">1. DADOS QUE SÃO PROTEGIDOS PELA LGPD</h2>
             <p>A Lei Geral de Proteção de Dados - LGPD (Lei nº 13.709/2018) veio para proteger os dados pessoais e dados pessoais sensíveis da pessoa física no Brasil, também chamada de titular de dados.</p>
            <p>De acordo com a LGPD, “dado pessoal” é qualquer dado que identifique ou torne identificável uma pessoa física. E o “dado pessoal sensível” é aquele que, por sua natureza, diz respeito a informações que merecem um cuidado maior, principalmente para proteção contra discriminações.</p>
            <p>A LGPD coloca nessa classificação de dados pessoais sensíveis dados sobre origem racial ou étnica, convicção religiosa, opinião política, filiação a sindicato ou a organização de caráter religioso, filosófico ou político, dado referente à saúde ou à vida sexual e dado genético ou biométrico, quando vinculados a uma pessoa física.</p>
        </div>
    </div>

    <div class="d-block d-lg-flex justify-content-lg-around align-items-center">       
        <div class="col-lg-6">
            <h2 class="text-center">2. FINALIDADE E USO DOS SEUS DADOS PESSOAIS</h2>
            <p>A Colore é uma empresa de tecnologia que aproxima candidatos e empresas que utilizam seus sistemas. Os dados dos candidatos são disponibilizados para as empresas apenas mediante contrato e para finalidade de recrutamento e seleção para vagas de trabalho.</p>
            <p>A Colore não cobra dos candidatos nenhuma quantia para que estes compartilhem seus currículos com empresas autorizadas, nem permite que terceiros cobrem para que candidatos participem de processos seletivos abertos através da plataforma.</p>
            <p>De uma forma mais detalhada, utilizamos as informações e os seus dados pessoais coletados para cumprir as seguintes finalidades:
                <ul>
                    <li>Viabilizar sua participação em processos seletivos de trabalho;</li>
                    <li>Incluir seus dados no banco de talentos das empresas em cujos processos seletivos você se inscreveu;</li>
                    <li>Entrar em contato com você, em razão de andamento do processo seletivo de que você esteja participando ou para informá-lo sobre novos processos que possam ser de seu interesse, incluindo o envio de alertas de vagas;</li>
                    <li>Permitir que empresas busquem ativamente candidatos aderentes às vagas abertas dentro do banco de dados da Colore, de acordo com o nível de privacidade escolhido por você para o seu currículo;</li>
                    <li>De forma opcional, quando autorizado pelo por você, para o envio de informativos, comunicados institucionais e newsletter, inclusive sobre produtos e serviços oferecidos pela Colore e seus parceiros.</li>
                 </ul>
            No intuito de aproximar candidatos e empresas, a Colore também usa dados pessoais dos usuários vinculados às empresas para permitir o acesso à plataforma e aos serviços contratados.
            </p>
            <p>Poderemos utilizar seus dados em conexão com nossos serviços para outras finalidades lícitas e mediante sua autorização prévia ou para cumprir obrigações acessórias ao que já nos comprometemos com você, inclusive por meio dos Termos de Uso. Como exemplo, dentre outros, quando você nos autorizar, poderemos prestar suporte específico.</p>
        </div>
    </div>

   <div class="d-block d-lg-flex justify-content-lg-around align-items-center">        
        <div class="col-lg-6">
            <h2 class="text-center">3. DO USO E COMPARTILHAMENTO DE DADOS PESSOAIS SENSÍVEIS</h2>
            <p>A Colore, no contexto de recrutamento e seleção, permite que o candidato insira informações e dados pessoais, inclusive considerados sensíveis, tais como fotos, vídeos, exames psicológicos, exames psicotécnicos, atestados médicos, relatórios sobre necessidades especiais para processos seletivos de Pessoas com Deficiência (PcD), informações para participação em processos seletivos de vagas inclusivas, dentre outros, conforme determinado em lei e previsto no artigo 5º, II da LGPD.</p>
            <p>A inserção dessas informações não é obrigatória e será sempre facultativa ao candidato. O seu compartilhamento com as empresas para processos de seleção deverá ser feito apenas para participação em processos seletivos, mediante autorização do candidato e nunca para finalidades discriminatórias.</p>
            <p>A Colore se compromete a não utilizar tais informações para outras finalidades, bem como envidará seus melhores esforços para garantir que seus clientes as utilizem somente dentro das finalidades previstas no ordenamento vigente, incluindo a legislação trabalhista. No entanto, a decisão final de contratação cabe à empresa anunciante.</p>
        </div>
        <div class="col-lg-5 px-5 text-center">
            <img style="width:300px" src="~/images/sobre/Business Plan-amico.svg" />
        </div>
    </div>

    <div class="d-block d-lg-flex justify-content-lg-around align-items-center">       
        <div class="col-lg-6">
            <h2 class="text-center">4. PROTEÇÃO DO NOSSO SISTEMA E DOS SEUS DADOS PESSOAIS</h2>
             <p>Para proteger os dados pessoais coletados e garantir a segurança dos nossos sistemas, utilizamos tecnologias e procedimentos adequados de acordo com o nível de risco e o serviço fornecido, possuindo uma equipe responsável por gerenciá-los em conformidade com as previsões legais, requisitos regulatórios, mudanças de tecnologia, dentre outros fatores relevantes que possam influenciar a proteção de dados.</p>
            <p>Em razão da própria natureza da Internet, existe o risco de que terceiros mal-intencionados acessem indevidamente as informações armazenadas nos nossos sistemas. Caso isso ocorra, nós nos responsabilizaremos nos limites previstos na legislação vigente aplicável.</p>
            <p>É proibido o uso de qualquer dispositivo, software ou outro recurso que venha a interferir nas atividades e operações da Colore, tanto pelo site quanto por outros sistemas ou bancos de dados. Caso seja identificada qualquer intromissão, tentativa, ou atividade que viole ou contrarie as leis de direito de propriedade intelectual e/ou as disposições estipuladas nesta Política e/ou leis vigentes aplicáveis, aí incluída a LGPD, o responsável estará sujeito às sanções aplicáveis, estejam elas em lei ou previstas neste documento. O responsável deverá, também, indenizar por eventuais danos causados.</p>
        </div>
    </div>

    <div class="d-block d-lg-flex justify-content-lg-around align-items-center">
        <div class="col-lg-6">
            <h2 class="text-center">5. DIREITOS PREVISTOS PELA LGPD</h2>
              <p>Nós garantimos a você o exercício dos direitos previstos na LGPD, a saber:
                <ul>
                    <li>Direito de confirmação: você poderá confirmar se a Colore realiza o tratamento de algum dado pessoal seu.</li>
                    <li>Direito de acesso: você poderá conferir detalhes de seus dados, bem como obter cópias de referidas informações, através do painel do candidato.</li>
                    <li>Direito a correção: você possui acesso integral aos dados do seu currículo, podendo alterar, corrigir ou remover eventuais dados pessoais que estejam incompletos, inexatos ou desatualizados.</li>
                    <li>Direito de anonimização, bloqueio ou eliminação: você poderá solicitar a anonimização, bloqueio ou eliminação de dados desnecessários, excessivos ou tratados em desconformidade com as finalidades previstas nesta Política, observando-se, para tanto, demais normas do ordenamento jurídico. Nesses casos, se houver anonimização ou bloqueio de dados que prejudiquem a manutenção ativa do seu currículo, sua participação em processos seletivos será prejudicada ou impossibilitada.</li>
                    <li>Direito de informação: você poderá solicitar informações sobre com quais tipos de empresas compartilhamos os seus dados, bem como ser informado das consequências caso opte por não consentir na coleta e tratamento de seus dados pessoais, quando necessário.</li>
                    <li>Direito de recusar marketing: a qualquer momento, você poderá solicitar o cancelamento de recebimento de materiais pelo próprio link disponibilizado no e-mail marketing enviado.</li>
                    <li>Direito de portabilidade de informações: Você poderá exportar todas as informações do seu currículo em formato .PDF.</li>
                    <li>Direito de revogação do consentimento: quando a base legal para o tratamento de dados for o consentimento, você poderá cancelar esse consentimento dado previamente a nós. É importante que você saiba que o cancelamento não afetará a utilização ou compartilhamento dos dados realizados anteriormente ao pedido de revogação do consentimento.</li>
                    <li>Direito de oposição aos tratamentos futuros para as demais bases legais. você poderá solicitar a exclusão do seu currículo da Colore e a interrupção de qualquer outro serviço prestado pela Colore. Mas é importante que você saiba que alguns dados poderão ser mantidos para finalidades legais e que a exclusão poderá não surtir efeitos para as empresas controladoras que obtiveram acesso ao seu currículo através do Colore antes do seu pedido. Vale lembrar que o desativamento do currículo impede a sua participação e candidatura a novas vagas e isto é irreversível.</li>
                </ul>
            </p>
            <p>Através da área logada, após a confirmação do seu login e senha, você terá acesso imediato às informações e caminhos para exercer todos os direitos previstos na LGPD, sem custo.</p>
            <p>Nós também nos comprometemos a comunicar os demais agentes de tratamento com os quais tenhamos compartilhado informações, a fim de que também realizem os procedimentos necessários para atender a sua solicitação.</p>
        
        </div>
    </div>
</div>


