<div class="align-content-around">

    <div class="d-flex justify-content-center align-items-center my-3">
        <div class="text-center col-lg-6">
            <h1>Quem é a COLORE?</h1>
            <p>Colore é uma organização que visa disseminar a diversidade dentro das empresas, permitindo o pioneirismo das mesmas no desenvolvimento social, incluindo pessoas LGBTQIA +.</p>
        </div>
        <div class="col-lg-5 d-none d-lg-block">
            <img src="https://bootstrapious.com/i/snippets/sn-about/illus.png" alt="" class="img-fluid">
            </div>
    </div>

    <!--Missão-->
    <div class="d-block d-lg-flex justify-content-lg-around align-items-center">
        <div class="col-lg-5 px-5 text-center">
            <img style="width:300px" src="~/images/sobre/Team goals-amico.svg" />
            </div>
        <div class="col-lg-6">
            <h2 class="text-center">Missão</h2>
            <p>Desenvolver um ambiente prático, seguro e eficiente para que empresas e seus futuros colaboradores se conheçam e construam; juntos, o caminho para a disseminação de vagas a todos os públicos.</p>
        </div>
    </div>

    <!--Visão e valores-->
    <div class="d-block d-lg-flex justify-content-lg-around align-items-center">
        <div class="col-lg-5 px-5 text-center order-lg-2">
            <img style="width:300px" src="~/images/sobre/Business Plan-amico.svg" class="img-fluid">
        </div>
        <div class="col-lg-6 order-lg-1">
            <h2 class="text-center">Visão e Valores</h2>
            <p class="  mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
    </div>

    <!--Team-->
    <div class="text-center mt-5">
        <h2>Nosso Time</h2>
        <p><i>Fundadores</i></p>
    </div>

   <div class="d-block d-sm-flex text-center">
        <!-- Team member 1 -->
        <div class="col-sm-6 mb-5">

            <div class="rounded  px-4 social">
                <img src="/images/sobre/Ana.png" width="100" class="img-fluid rounded-circle my-3 img-thumbnail " />
                <h5 class="mb-0">Ana Patrícia</h5><span class="small text-uppercase text-muted">Fundador</span>
                <div class="align-align-items-center p-1">
                <ul class="list-inline">
                     <li class="list-inline-item"><a href="https://www.linkedin.com/in/ana-patricia-alves-brandao-99a4b81a1" class="social-link"><img class="icon"
                                src="~/images/sobre/linkedin.svg" /></a></li>
                    <li class="list-inline-item"><a href="https://github.com/BrandaoSt" class="social-link"><img class="icon"
                                src="~/images/sobre/github.svg" /></a></li>
                    <li class="list-inline-item"><a href="https://www.instagram.com/patriciabrandao7/" class="social-link"><img class="icon"
                                src="~/images/sobre/instagram.svg" /></a></li>
                </ul>
                </div>
            </div>

        </div>
        <!-- End-->

        <!-- Team member 2 -->
        <div class="col-sm-6 mb-5">
            <div class=" rounded  px-4 social"><img src="~/images/sobre/Juliana.png"
                    alt="" width="100" class="img-fluid rounded-circle my-3 img-thumbnail ">
                <h5 class="mb-0">Juliana Mesquita</h5>
                <span class="small text-uppercase text-muted">Fundador</span>
               <div class="align-align-items-center p-1">
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="https://www.linkedin.com/in/juliana-maria-de-sousa-mesquita-1b86a0189/" class="social-link"><img class="icon"
                                src="~/images/sobre/linkedin.svg" /></a></li>
                    <li class="list-inline-item"><a href="https://github.com/JulianaMariaSousaMesquita" class="social-link"><img class="icon"
                                src="~/images/sobre/github.svg" /></a></li>
                    <li class="list-inline-item"><a href="https://www.instagram.com/julianamesquitaoficial/" class="social-link"><img class="icon"
                                src="~/images/sobre/instagram.svg" /></a></li>
                </ul>
                </div>

            </div>
        </div>
        <!-- End-->
        </div>

        <div class="d-block d-sm-flex text-center">
        <!-- Team member 3 -->
        <div class="col-sm-6 mb-5">
            <div class=" rounded  px-4 social"><img src="~/images/sobre/Joao.png"
                    width="100" class="img-fluid rounded-circle my-3 img-thumbnail " />
                <h5 class="mb-0">João Victor</h5>
                <span class="small text-uppercase text-muted">Fundador</span>
               <div class="align-align-items-center p-1">
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="http://linkedin.com/in/ssjoao2021" class="social-link"><img class="icon"
                                src="~/images/sobre/linkedin.svg" /></a></li>
                    <li class="list-inline-item"><a href="https://github.com/devictor4" class="social-link"><img class="icon"
                                src="~/images/sobre/github.svg" /></a></li>
                    <li class="list-inline-item"><a href="https://www.instagram.com/victorr071/" class="social-link"><img class="icon"
                                src="~/images/sobre/instagram.svg" /></a></li>
                </ul>
                </div>
            </div>
        </div>
        <!-- End-->

        <!-- Team member 4-->
        <div class="col-sm-6 mb-5">
            <div class=" rounded   px-4 social"><img src="~/images/sobre/Leonardo.png"
                    alt="" width="100" class="img-fluid rounded-circle my-3 img-thumbnail ">
                <h5 class="mb-0">Leonardo</h5><span class="small text-uppercase text-muted">Fundador</span>
                <div class="align-align-items-center p-1">
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="https://github.com/LeonardFLY" class="social-link"><img class="icon"
                                src="~/images/sobre/linkedin.svg" /></a></li>
                    <li class="list-inline-item"><a href="https://github.com/LeonardFLY" class="social-link"><img class="icon"
                                src="~/images/sobre/github.svg" /></a></li>
                    <li class="list-inline-item"><a href="https://www.instagram.com/leonard_fly/" class="social-link"><img class="icon"
                                src="~/images/sobre/instagram.svg" /></a></li>
                </ul>
                </div>
            </div>
        </div>
        <!-- End-->
        </div>

        <div class="d-block d-sm-flex text-center">
        <!-- Team member 5-->
        <div class="col-sm-6 mb-5">
            <div class=" rounded  px-4 social"><img src="~/images/sobre/Luiz.png"
                    width="100" class="img-fluid rounded-circle my-3 img-thumbnail " />
                <h5 class="mb-0">Luíz</h5><span class="small text-uppercase text-muted">Fundador</span>
                <div class="align-align-items-center p-1">
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="https://www.linkedin.com/in/luiz-freitas-28995322a/" class="social-link"><img class="icon"
                                src="~/images/sobre/linkedin.svg" /></a></li>
                    <li class="list-inline-item"><a href="https://github.com/Luizfre" class="social-link"><img class="icon"
                                src="~/images/sobre/github.svg" /></a></li>
                </div>
            </div>
        </div>
        <!-- End-->

        <!-- Team member 6-->
        <div class="col-sm-6 mb-5">
            <div class=" rounded  px-4 social"><img src="~/images/sobre/Wesley.png"
                    alt="" width="100" class="img-fluid rounded-circle my-3 img-thumbnail ">
                <h5 class="mb-0">Wesley</h5><span class="small text-uppercase text-muted">Fundador</span>
                <div class="align-align-items-center p-1">
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="https://www.linkedin.com/in/wesley-azevedo-83aa311b1" class="social-link"><img class="icon"
                                src="~/images/sobre/linkedin.svg" /></a></li>
                    <li class="list-inline-item"><a href="https://github.com/wesleyazevedo957" class="social-link"><img class="icon"
                                src="~/images/sobre/github.svg" /></a></li>
                    <li class="list-inline-item"><a href="https://www.instagram.com/wesley.azevedo.rj/" class="social-link"><img class="icon"
                                src="~/images/sobre/instagram.svg" /></a></li>
                </ul>
                </div>
            </div>
        </div>
        <!-- End-->
        </div>
    </div>
</div>