<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Colore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Contato.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">     
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                 <span class="navbar-toggler-icon"></span>
             </button>
            <!-----Login----->
            <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item">
                                <a class="nav-link " id="register" asp-controller="Acessos" asp-action="CreateUsuario">Cadastro</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " id="login"  asp-controller="Acessos" asp-action="Login">Login</a>
                            </li>
                     </ul>
            </div>
            <!-----Fim do Login----->

            <!-----Items----->
            <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">                
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Vaga" asp-action="Vagas">Vagas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Acessos" asp-action="Empresas">Empresas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Sobre">Sobre</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Contato">Contato</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-----Fim dos Items----->

            <!-----Redes Sociais----->
            <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">                
                    <div class="social-part">
                        <ul class="navbar-nav ms-auto">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/facebook.png" class="img-thumbnail"></a>
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/instagram.png" class="img-thumbnail"></a>
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/twitter.png" class="img-thumbnail"></a>
                        </ul>
                    </div>                
            </div>
            <!-----Fim Redes Sociais----->
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="bg-dark text-white pt-5 pb-4">
        <div class="container text-center text-md-left">
            <div class="row text-center text-md-left">

                <!---Apresentação---->
                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Colore</h5>
                    <p>Colore é uma organização que visa disseminar a diversidade dentro das empresas, permitindo o pioneirismo das mesmas no desenvolvimento social, incluindo pessoas LGBTQIA +</p>
                </div>
                <!----Fim apresentação--->

                <!----Nossos Serviços (Esquerda)--->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Nossos Serviços</h5>
                    <p>
                        <a class="nav-link text-white" style="text-decoration: none;" asp-area="" asp-controller="Home" asp-action="Privacy"> Confira a política de privacidade</a>
                    </p>
                    <p>
                        <a class="nav-link text-white" style="text-decoration: none;" asp-area="" asp-controller="Home" asp-action="Curriculo">Envie Seu Currículo</a>
                    </p>
                    <p>
                        <a class="nav-link text-white" style="text-decoration: none;" asp-area="" asp-controller="Vagas" asp-action="Index">Confira nossas Vagas</a>
                    </p>                    
                    <p>
                        <a class="nav-link text-white" style="text-decoration: none;" id="register" asp-controller="Acessoss" asp-action="Create">Cadastre sua empresa</a>
                    </p>
                </div>
                <!---Fim (Nossos serviços a esquerda)---->

                <!----Nossos Serviços a Direita--->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Outros</h5>
                    <p>
                        <a class="nav-link text-white" style="text-decoration: none;" id="register" asp-controller="Acessoss" asp-action="Create">Cadastro</a>
                    </p>
                    <p>
                        <a class="nav-link text-white" style="text-decoration: none;" asp-area="" asp-controller="Home" asp-action="Sobre">Conheça nosso trabalho</a>
                    </p>
                    <p>
                        <a class="nav-link text-white" style="text-decoration: none;" id="login" asp-controller="Acessoss" asp-action="Login">Faça Login</a>
                    </p>
                </div>
                <!----Fim (Nossos serviços a Direita)--->

                <!----Entre em contato---->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 font-weight-bold text-warning"> <a class="nav-link text-white" style="text-decoration: none;" id="login" asp-controller="Home" asp-action="Contato">Entre em contato conosco</a></></h5>
                    <p>
                        <i class="fas fa-home mr-3"></i>São Paulo, 14015-040, Brazil
                    </p>
                    <p>
                        <i class="fas fa-envelope mr-3"></i>E-mail: colore@gmail.com
                    </p>
                    <p>
                        <i class="fas fa-phone mr-3"></i>Número: +11 4002-8922
                    </p>
                </div>
                <!----Fim(Entre em contato)---->
            </div>


            <!----Direitos Reservados---->
            <hr class="mb-4">
            <div class="row align-items-center">
                <div class="col-md-7 col-lg-8">
                    <p>
                        Copyright ©2022 Todos Os Direitos Reservados
                        <a style="text-decoration: none;" asp-controller="Home" asp-action="Index">
                            <strong class="text-warning">Colore</strong>
                        </a>
                    </p>
                </div>
            </div>
            <!----Fim (Direitos Reservados)---->
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
